body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
    min-height: 100vh;
  }
    
  .menu-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1051; 
    background:#6fa6de; 
    border: none; 
  }
  
  .menu-btn span {
    height: 3px;
    width: 25px;
    background-color: #e0c3fc;
    margin: 4px 0;
    border-radius: 5px;
    transition: 0.3s;
  }
    
  main {
    margin-left: 60px; 
  }

  .offcanvas {
    background: linear-gradient(135deg, #8fbdeb, #d8b4f8) !important;
    color: #000; 
  }
  .offcanvas .nav-link {
    color: #000 !important;
  }
  .offcanvas .nav-link:hover {
    color: #333 !important; 
  }
  


.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; 
    transition: background-color 0.3s ease;
}
  
  
  